.clients {
  @extend %section;
  &__container {
    @extend %container;
    @extend %centered;
  }
  &__main-title {
    @extend %section-title;
    margin-bottom: 30px;
  }
  &__list {
    @extend %list;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__card {
    width: calc((100% - 30px) / 2);
    height: 92px;
    margin-bottom: 30px;

    @media screen and (max-width: 767px) {
      &:nth-child(even) {
        margin-left: 30px;
      }
      &:nth-last-child(-n + 2) {
        margin-bottom: 0;
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1200px) {
      width: calc((100% - 60px) / 3);
      margin-left: 30px;
      &:nth-child(3n + 1) {
        margin-left: 0px;
      }
      &:nth-last-child(-n + 3) {
        margin-bottom: 0;
      }
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% - 150px) / 6);
      margin-bottom: 0;
      & + & {
        margin-left: 30px;
      }
    }
  }
  &__link {
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid $icons-color;
    border-radius: 4px;
    fill: $icons-color;
    &:hover,
    &:focus {
      border: 1px solid $accent-color;
      fill: $accent-color;
    }
  }
  &__svg {
    width: 106px;
    height: 92px;
  }
}
