.header {
  position: relative;
  border-bottom: 1px solid #ececec;

  &__container {
    @extend %container;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    @extend %list;
    // display: flex;
    display: none;
    @media screen and (min-width: 768px) {
      display: flex;
      margin: 0 auto;
    }
    @media screen and (min-width: 1200px) {
      margin: 0 0 0 93px;
    }
  }
  &__menu-btn {
    display: inline-flex;
    margin: 10px 15px;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  &__icon-close {
    display: none;
  }
  .header__menu-btn.is-open &__icon-close {
    display: block;
  }
  .header__menu-btn.is-open &__icon-menu {
    display: none;
  }
  &__mobile-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $background-color;
    height: 400px;
    padding: 40px 48px;
    text-align: left;
    &.is-open {
      display: block;
    }
  }
  @media screen and (min-width: 768px) {
    &__menu-btn {
      display: none;
    }
  }
  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $title-text-color;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      border-radius: 2px;
      display: block;
      width: 100%;
      height: 4px;
      background-color: $accent-color;
      opacity: 0;
    }
    &--current {
      color: $accent-color;
      &::after {
        opacity: 1;
      }
    }
    &:hover,
    &:focus {
      color: $accent-color;
      fill: $accent-color;
    }
  }

  &__contacts {
    @media screen and (max-width: 767px) {
      display: none;
    }
    @extend %list;
    @media screen and (max-width: 1199px) {
      // margin-left: auto;
      padding-top: 21px;
      padding-bottom: 21px;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      margin-left: auto;
    }
  }

  &__contacts-item {
    & + & {
      margin-top: 10px;
    }
    @media screen and (min-width: 1200px) {
      padding-top: 32px;
      padding-bottom: 32px;
      & + & {
        margin-left: 30px;
        margin-top: 0;
      }
    }
  }

  &__contacts-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $primary-text-color;
    fill: $primary-text-color;
    &:hover,
    &:focus {
      color: $accent-color;
      fill: $accent-color;
    }
  }

  &__contacts-icon {
    margin-right: 10px;
    vertical-align: middle;
  }
}
