.header {
  border-bottom: 1px solid #ececec;
  // position: fixed;
  // z-index: 1;
  // background-color: $background-color;

  &__container {
    @extend %container;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu-btn {
    display: inline-flex;
    margin: 10px 0;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 2;
    &.is-open {
      position: fixed;
      top: 10px;
      right: 15px;
    }
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__icon-close {
    display: none;
  }
  .header__menu-btn.is-open &__icon-close {
    display: block;
  }
  .header__menu-btn.is-open &__icon-menu {
    display: none;
  }

  &__menu-container {
    @media screen and (max-width: 767px) {
      display: none;
      background-color: $background-color;
      height: 100vh;
      padding: 40px 48px;
      text-align: left;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      &.is-open {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        position: fixed;
        z-index: 1;
      }
    }
    @media screen and (min-width: 768px) {
      display: flex;
      flex-grow: 1;
    }
  }

  &__nav {
    @extend %list;
    font-size: 40px;
    font-weight: 500;
    line-height: calc(47 / 40);
    color: $title-text-color;
    @media screen and (min-width: 768px) {
      display: flex;
      margin: 0 auto;
      font-size: 14px;
      line-height: calc(16 / 14);
      letter-spacing: 0.02em;
    }
    @media screen and (min-width: 1200px) {
      margin-left: 92px;
    }
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__item {
    margin-bottom: 32px;
    letter-spacing: 0.02em;
    &:last-child {
      margin-bottom: 0;
    }
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &__link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    line-height: calc(16 / 14);
    text-decoration: none;
    color: $title-text-color;
    .header__item > &--current {
      @extend %current;
    }
    @media screen and (min-width: 768px) {
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        border-radius: 2px;
        display: block;
        width: 100%;
        height: 4px;
        background-color: $accent-color;
        opacity: 0;
      }
      &--current {
        color: $accent-color;
        &::after {
          opacity: 1;
        }
      }
    }
    &:hover,
    &:focus {
      color: $accent-color;
      fill: $accent-color;
    }
  }

  &__contacts {
    @extend %list;
    @media screen and (max-width: 768px) {
      display: block;
      margin-top: auto;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      margin-top: 0;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      flex-direction: column-reverse;
      justify-content: center;
    }
    @media screen and (min-width: 1200px) {
      flex-direction: row-reverse;
      margin-left: auto;
    }
  }
  &__contacts-item {
    font-size: 34px;
    color: $accent-color;
    @media screen and (max-width: 767px) {
      & + & {
        margin-top: 32px;
        font-size: 24px;
        color: $primary-text-color;
      }
    }

    @media screen and (min-width: 768px) {
      font-size: 12px;
      margin: 0;
      &:last-child {
        font-size: 12px;
      }
      & + & {
        margin-bottom: 10px;
      }
    }
    @media screen and (min-width: 1200px) {
      padding-top: 32px;
      padding-bottom: 32px;
      & + & {
        margin-right: 30px;
        margin-bottom: 0;
      }
    }
  }

  &__contacts-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    font-size: inherit;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: inherit;
    &:hover,
    &:focus {
      color: $accent-color;
      fill: $accent-color;
    }
    @media screen and (min-width: 768px) {
      color: $primary-text-color;
      fill: $primary-text-color;
    }
    @media screen and (min-width: 1200px) {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }

  &__contacts-icon {
    display: none;
    @media screen and (min-width: 768px) {
      display: inline-block;
      margin-right: 8px;
      vertical-align: middle;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 10px;
    }
  }
}
.soc-list {
  @extend %list;
  display: flex;
  margin-top: 64px;
  margin-bottom: 48px;
  @media screen and (min-width: 768px) {
    display: none;
  }
  & li {
    position: relative;
    margin-right: 10px;
    &:not(:last-child) {
      &::after {
        content: '';
        position: absolute;
        top: -2px;
        right: 0;
        display: block;
        width: 1px;
        height: 22px;
        margin-left: 10px;
        background-color: rgba(33, 33, 33, 0.2);
      }
    }
  }
  &__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);
    letter-spacing: 0.02em;
    color: $accent-color;
    margin-right: 10px;
  }
}
