.team {
  @extend %section;
  background-color: $second-background-color;
  &__container {
    @extend %container;
    @extend %centered;
  }
  &__main-title {
    @extend %section-title;
  }
  &__list {
    @extend %list;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
    }
  }
  &__card {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: $background-color;
    @media screen and (max-width: 767px) {
      & + & {
        margin-top: 30px;
      }
    }
    &:hover {
      transform: scale(1.1);
    }
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      width: calc((100% - 30px) / 2);
      &:nth-child(even) {
        margin-left: 30px;
      }
      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 30px;
      }
    }
    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 0;
      }

      & + & {
        margin-left: 30px;
      }
    }
  }
  &__content {
    text-align: center;
    line-height: 1.17;
    padding: 30px 5px;
  }
  &__title {
    margin: 0 auto 10px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: $title-text-color;
  }
  &__text {
    margin: 0 auto;
    font-size: 16px;
    letter-spacing: 0.03em;
  }
}

.soc-icons {
  @extend %list;
  padding: 0 122px;
  display: flex;
  justify-content: center;
  margin-top: 16px;
  &__item + &__item {
    margin-left: 10px;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 27px;
    padding-right: 27px;
  }

  &__link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: $icons-color;
    & svg {
      margin: 12px;
    }
    &:hover,
    &:focus {
      background-color: $accent-color;
      fill: $second-accent-color;
    }
  }
}
